@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');

body {
    font-family: 'Playfair Display', serif;
    text-align: center;
    background: black;
    color: yellow;
}
.main-text {
    margin-top: 250px;
    background: url(1617678584_48-p-raduzhnii-fon-48.jpg);
    font-size: 200px;
    color: transparent;
    -webkit-background-clip: text;
    animation: animation1 5s infinite linear;
}
@keyframes animation1 {
    from {
        background-position: 0 0;
    }
    to {
        background-position: 100% 100%;
    }
}