body {
    background: black;
    font-family: sans-serif;
}

.fully {
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.words {
    color: purple;
    margin-bottom: 25px;
    font-size: 20px;
    letter-spacing: 2px;
}

.relax {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.relax .line-box {
    padding: 2px;
    width: 40%;
    height: 20px;
    border: 2px solid skyblue;
    border-radius: 20px;
}

.relax .line-box .line {
    height: 20px;
    border-radius: 20px;
    background: #0b850d;
    animation: animation3 2s forwards cubic-bezier(0, 0, 0, 0);
}

@keyframes animation3 {
    0% {
        width: 0%;
    }
    100% {
        width: 100%;
    }
}